html{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(35.54deg, #2855AE -7.25%, #7292CF 90.75%);
}
.login{
    width: 37.5rem;
    height: 81.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.login_logo{
    width: 12.6rem;
    height: 6.2rem;
    margin: auto;
    margin-top: 16.1rem;
}
.logo_img{
    margin-top: 20rem;
    align-self: center;
}