.login-background{
    padding-top: 6.7rem;
    width: 37.5rem;
    height: auto;
    margin: auto;
}
.formulario-login{
    background-color: #fff;
    border-radius: 4rem 4rem 0rem 0rem;
    width: 37.5rem;
    height: 81.2rem;
    padding: 3.5rem;
    margin: 15rem 0rem 0rem 0rem;
}
.login-img{
    width: 30rem;
    align-self: flex-end;
    margin: 3.5rem 0rem 3rem 5.5rem;

    position: absolute;
}
.login-background h2{
    margin: 4rem 0rem 0rem 0rem;
    font-size: 34px;
    color: #313131;
}
.login-background span{
    font-size: 2rem;
    color: #313131;
}
.formulario{
    display: flex;
    flex-direction: column;
    max-width: 31.5rem;
    margin: auto;
    margin: 3.5rem 0rem 0rem 0rem;
}
.formulario_label{
    font-size: 1.2rem;
    color: #A5A5A5;

    display: flex;
    flex-direction: column;
    margin-bottom: 3.5rem;
}
.formulario_label input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #A5A5A5;
    margin-top: 1rem;
}
.formulario button{
    height: 5.4rem;
    background: linear-gradient(35.54deg, #2855AE -7.25%, #7292CF 90.75%);
    border-radius: 1rem;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-style: none;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.formulario button img{
    width: 2.5rem;
    margin-left: 11rem;
    position: absolute;
}
.formulario_mensaje{
    color: #313131;
    font-size: 14px;

    margin-top: 2rem;
    align-self: flex-end;
}