html {
    font-size: 10px;
    /*font-family: 'Bebas Neue', cursive;*/
}
body{
    background-color: rgb(255, 248, 250);
}

:root {
    /* variables de color */
    --azul1: #345FB4;
    --azul2: #6789CA;
    --gris1: #313131;
    --gris2: #777777;
    --gris3: #A5A5A5;
    --fondo: linear-gradient(35.54deg, #2855AE -7.25%, #7292CF 90.75%);

    /* variables de tamaño de letra */
    --h1 : 25rem;
    --h2 : 16rem;
    --h3 : 14rem;
    --parrafo : 1.5rem;
}


/* Estructura de las secciones */